@font-face{
	font-family: _font;
	font-weight: 500;
	src: url(
		"./fonts/_fonts.ttf"
	) format('truetype')
}
@font-face{
	font-family: _fonts;
	font-weight: 500;
	src: url(
		"./fonts/_fonts2.ttf"
	) format('truetype')
}

:root {
  --color-default: #ffffff;
  --color-hover: #ffffff;
}

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
  font-family: _fonts;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

#eye {
  position: absolute;
  top: 48.3%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-size: 22pt;
  animation: float 2s ease-in-out infinite;
  fill: rgb(255, 255, 255);

}
.eye-hover {
  fill: var(--color-default);
}

#options-wrapper {
  position: absolute;
  top: calc(48.4%);
  left: calc(50% + 18pt);
}

.option-container {
  color: var(--color-default);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    90deg,
    #36f3ea73 0%,
    #36f3ea48 10%,
    #36f3ea00 100%
  );
  font-size: 10pt;
  line-height: 22pt;
  vertical-align: middle;
  margin: 4pt;
  transition: 300ms;
  transform-origin: left top;
  scale: 1;
  border-radius: 10px;
  height: 22pt;
  width: 150pt;
  top: 0;
  /* Añadir un icono */
  position: relative;
  transition: opacity 0.3s ease-in-out;
  animation: fadeInLeft 0.3s ease-in-out forwards;
}

.option-container:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(192, 253, 255, 0.459) 66%,
    rgba(209, 253, 255, 0.7) 100%
  );
  transform-origin: left top;
  color: var(--color-hover);
  margin-left: 3pt;
  border-bottom: 2px solid white;
}

.option-container:hover::after {
  content: "";
  position: absolute;
  top: 3px; /* Ajusta la distancia desde la parte superior */
  right: -5px; /* Ajusta la distancia desde la derecha */
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
  background-image: url('./icons/element_loader.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.option-container:not(:hover)::after {
  opacity: 0;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
  color: var(--color-default);
}

.option-label {
  font-weight: 500;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-2px) rotate(-1deg);
  }
  50% {
    transform: translateY(2px) rotate(1deg);
  }
  75% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}



